*
{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: #D2D2FF;
}

body h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 400px;
    text-shadow: -10px 10px 5px  #8D8DC9;
    color: #1B666B;
    z-index: 1;
}

.boots img
{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.svg-txt
{
    position: absolute;
    top: 61%;
    left: 28%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.boots h1
{
    position: absolute;
    top: 30%;
    left: 65%;
    z-index: 11;
    transform: translate(-50%,-50%);
    width: 290px;
    font-weight: 600;
    font-size: 38px;
    color: #FFFFFF;
    text-shadow: none;
}

.boots h1 > span
{
    position: absolute;
    top: 150%;
    left: 70%;
    z-index: 11;
    transform: translate(-50%,-50%);
    width: 290px;
    font-weight: 600;
    font-size: 96px;
    color: #000;
    text-shadow: none;
}
